@import "../variables.css";

.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  background-color: #fff;
  width: 100%;
}

.form_title {
  color: var(--color-primary-font);
  font-weight: 400;
}

.form_group_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form_checkbox {
  color: var(--color-primary-font);
  margin-top: 5px;
  cursor: pointer;
}

input[type="checkbox"] {
  transform: scale(1.8);
  opacity: 0.5;
  margin-right: 14px;
}

input[type="checkbox"]:checked {
  opacity: 1;
}

.form_submit_button {
  position: relative;
  margin-top: 40px;
  padding: 12px 34px;
  background-color: var(--color-primary-highlight);
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

.form_submit_button:disabled {
  opacity: 0.6;
  cursor: auto;
}

.isLoading {
  padding-left: 4em;
  display: block;
  cursor: not-allowed;
  background-color: #0d5a3c;
}

.isLoading .submit_spinner {
  left: -0.2em;
  top: 0.5em;
  width: 2.8em;
  display: flex;
  position: absolute;
}

.isLoading .submit_spinner::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: solid 0.35em #c2c2c2;
  border-bottom-color: #555;
  animation: 0.8s linear infinite spinner;
  transform: translate(-50%, -50%);
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
